<%- include('partials/header') %>

<div
  class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
>
  <div class="list-group">
    <a
      href="/sets"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      />
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Show a list of all sets.</h6>
          <p class="mb-0 opacity-75">
            You can add new sets or update existing ones.
          </p>
        </div>
      </div>
    </a>
    <a
      href="/words"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      />
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Show a list of all words.</h6>
          <p class="mb-0 opacity-75">
            You can add new words and assign them to sets or add new words to
            the database.
          </p>
        </div>
      </div>
    </a>
    <a
      href="#"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      />
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Word Search</h6>
          <p class="mb-0 opacity-75">
            You can search for words in the database.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<%- include('partials/footer') %>
