<%- include('partials/header') %>

<div
  class="d-flex flex-column flex-md-row p-3 p-md-4 gap-3 py-md-5 align-items-start align-items-md-center justify-content-center flex-wrap"
>
  <div class="list-group w-100 w-md-auto">
    <a
      href="/sets"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 flex-column flex-sm-row align-items-start align-items-sm-center"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        class="rounded-circle flex-shrink-0 img-fluid"
        style="width: 48px; height: 48px"
      />
      <div class="d-flex flex-column w-100 justify-content-between">
        <div>
          <h6 class="mb-1 fs-5">Show a list of all sets.</h6>
          <p class="mb-0 opacity-75 fs-6">
            You can add new sets or update existing ones.
          </p>
        </div>
      </div>
    </a>
    <a
      href="/words"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 flex-column flex-sm-row align-items-start align-items-sm-center"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        class="rounded-circle flex-shrink-0 img-fluid"
        style="width: 48px; height: 48px"
      />
      <div class="d-flex flex-column w-100 justify-content-between">
        <div>
          <h6 class="mb-1 fs-5">Show a list of all words.</h6>
          <p class="mb-0 opacity-75 fs-6">
            You can add new words and assign them to sets or add new words to
            the database.
          </p>
        </div>
      </div>
    </a>
    <a
      href="/search-words"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 flex-column flex-sm-row align-items-start align-items-sm-center"
      aria-current="true"
    >
      <img
        src="assets/images/ornament.png"
        alt="twbs"
        class="rounded-circle flex-shrink-0 img-fluid"
        style="width: 48px; height: 48px"
      />
      <div class="d-flex flex-column w-100 justify-content-between">
        <div>
          <h6 class="mb-1 fs-5">Word Search</h6>
          <p class="mb-0 opacity-75 fs-6">
            You can search for words in the database.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

<%- include('partials/footer') %>
