<%- include('partials/header.ejs') %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="form-signin bg-body-tertiary p-4 rounded">
        <form action="/register" method="POST">
          <img
            class="mb-4 img-fluid d-block mx-auto"
            src="assets/images/ornament.png"
            alt="Ornament"
            width="72"
            height="57"
          />
          <h1 class="h3 mb-3 fw-normal text-center">
            Register to Get Started!
          </h1>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              name="username"
              placeholder="username"
              required
            />
            <label for="floatingInput">Username</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Your First Name"
            />
            <label for="firstName">First Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Your Last Name"
            />
            <label for="lastName">Last Name</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@example.com"
              required
            />
            <label for="email">Email address</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
            <label for="password">Password</label>
          </div>

          <button class="btn btn-primary w-100 py-2 mt-2" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
