body {
  font-family: "Roboto", sans-serif;
}

button {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

#register-container {
  max-width: 30%;
  border-radius: 15px;
}

#register-wrap {
  padding-top: 1rem;
  padding-inline: 2rem;
  padding-bottom: 5rem;
}

.form-floating {
  margin-bottom: 1px;
}

#practice-container {
  max-width: 500px;
}

/* Adjust font sizes and spacing for smaller screens */
@media (max-width: 576px) {
  #practice-container {
    padding: 10px;
  }

  #practice-container h3 {
    font-size: 1.25rem; /* Smaller font for titles */
  }

  .form-label {
    font-size: 1rem; /* Adjust label size */
  }

  .btn {
    font-size: 0.9rem; /* Adjust button font size */
  }
}
